<a href="https://colab.research.google.com/github/Jigyass/Data-Privacy-and-Data-Security-Models/blob/main/Data_Anonymization/k_anonymity_and_l_diversity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!unzip /content/drive/MyDrive/Data_Privacy_and_Data_Security/adult.zip

Archive:  /content/drive/MyDrive/Data_Privacy_and_Data_Security/adult.zip
replace Index? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: Index
  inflating: adult.data
  inflating: adult.names
  inflating: adult.test
  inflating: old.adult.names

In [ ]:
import pandas as pd

# Load the 'adult.data' file from the extracted dataset
df = pd.read_csv('adult.data')

# Display the first few rows of the DataFrame to verify
#df.head(50)

In [ ]:
df.columns = ['Age', '2', '3', 'Education', '5', 'Marital-Status', 'Occupation', '8', 'Race', '10', '11', '12', '13', '14', '15']

In [ ]:
unique_values_education = df['Education'].unique()

print(unique_values_education)

[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']

In [ ]:
unique_values_Marital = df['Marital-Status'].unique()

print(unique_values_Marital)

[' Married-civ-spouse' ' Divorced' ' Married-spouse-absent'
 ' Never-married' ' Separated' ' Married-AF-spouse' ' Widowed']

In [ ]:
unique_values_race = df['Race'].unique()

print(unique_values_race)

[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']

In [ ]:
#Create the Generalization Logic for creating a k-anonymous dataset
def generalize_age(age):
    if age <= 10:
        return '0-10'
    elif age <= 20:
        return '10-20'
    elif age <= 30:
        return '20-30'
    elif age <= 40:
      return '30-40'
    elif age <= 50:
      return '40=50'
    elif age <= 64:
      return '50-64'
    else:
        return '65-max'


def generalize_education(education):
    if education in [' 1st-4th', ' 5th-6th', ' 7th-8th', ' Preschool']:
        return 'Elementary'
    elif education in [' HS-grad', ' 11th', ' 12th', ' 9th', ' 10th']:
        return 'High School'
    elif education in [' Prof-school', ' Assoc-voc']:
      return 'Trade School'
    else:
        return 'University Education'

def generalize_marital_status(status):
    if status in [' Married-civ-spouse', ' Married-AF-spouse']:
        return 'Married'
    elif status in [' Divorced', ' Separated', ' Widowed', ' Married-spouse-absent']:
        return 'Unmarried'
    else:
        return 'Single'

def generalize_race(race):
    major_races = [' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo']
    if race in major_races:
        return 'Major Races'
    else:
        return 'Other'


df['Education'] = df['Education'].apply(generalize_education)
df['Marital-Status'] = df['Marital-Status'].apply(generalize_marital_status)
df['Race'] = df['Race'].apply(generalize_race)
df['Age'] = df['Age'].apply(generalize_age)

In [ ]:
#AT THIS POINT OUR GENERALIZATION IS DONE
df.head()

,Age,2,3,Education,5,Marital-Status,Occupation,8,Race,10,11,12,13,14,15
0,40=50,Self-emp-not-inc,83311,University Education,13,Married,Exec-managerial,Husband,Major Races,Male,0,0,13,United-States,<=50K
1,30-40,Private,215646,High School,9,Unmarried,Handlers-cleaners,Not-in-family,Major Races,Male,0,0,40,United-States,<=50K
2,50-64,Private,234721,High School,7,Married,Handlers-cleaners,Husband,Major Races,Male,0,0,40,United-States,<=50K
3,20-30,Private,338409,University Education,13,Married,Prof-specialty,Wife,Major Races,Female,0,0,40,Cuba,<=50K
4,30-40,Private,284582,University Education,14,Married,Exec-managerial,Wife,Major Races,Female,0,0,40,United-States,<=50K

In [ ]:
value_counts = df['Education'].value_counts()

# Print the count of each unique entry
print(value_counts)

University Education    15848
High School             13556
Trade School             1958
Elementary               1198
Name: Education, dtype: int64

In [ ]:
value_counts = df['Marital-Status'].value_counts()

# Print the count of each unique entry
print(value_counts)

Married      14999
Single       10682
Unmarried     6879
Name: Marital-Status, dtype: int64

In [ ]:
value_counts = df['Race'].value_counts()

# Print the count of each unique entry
print(value_counts)

Major Races    32289
Other            271
Name: Race, dtype: int64

In [ ]:
value_counts = df['Age'].value_counts()

# Print the count of each unique entry
print(value_counts)

30-40     8545
20-30     8162
40=50     6983
50-64     5124
10-20     2410
65-max    1336
Name: Age, dtype: int64

In [ ]:
#selected_columns = ['Age', 'Education', 'Race', 'Marital-Status']

# Create a new DataFrame with only the selected columns
new_df = df.copy()

In [ ]:
new_df.head()

,Age,2,3,Education,5,Marital-Status,Occupation,8,Race,10,11,12,13,14,15
0,40=50,Self-emp-not-inc,83311,University Education,13,Married,Exec-managerial,Husband,Major Races,Male,0,0,13,United-States,<=50K
1,30-40,Private,215646,High School,9,Unmarried,Handlers-cleaners,Not-in-family,Major Races,Male,0,0,40,United-States,<=50K
2,50-64,Private,234721,High School,7,Married,Handlers-cleaners,Husband,Major Races,Male,0,0,40,United-States,<=50K
3,20-30,Private,338409,University Education,13,Married,Prof-specialty,Wife,Major Races,Female,0,0,40,Cuba,<=50K
4,30-40,Private,284582,University Education,14,Married,Exec-managerial,Wife,Major Races,Female,0,0,40,United-States,<=50K

In [ ]:
def calculate_k_anonymity(dataset, quasi_identifiers):
    k_values = {}  # A dictionary to store k-values for each group

    for _, record in dataset.iterrows():
        # Extract the quasi-identifier values from the record
        qi_values = tuple(record[qi] for qi in quasi_identifiers)

        if qi_values in k_values:
            k_values[qi_values] += 1
        else:
            k_values[qi_values] = 1

    # Find the maximum k-value
    max_k_value = max(k_values.values())

    return max_k_value

# Load the dataset from a CSV file
dataset = pd.read_csv("k_anonymous_dataset.csv")

quasi_identifiers = ["Age", "Education", "Marital-Status", "Race"]  # Quasi-identifier attributes

max_k = calculate_k_anonymity(dataset, quasi_identifiers)
print("The maximum k-value in the dataset is:", max_k)

The maximum k-value in the dataset is: 2978

In [ ]:
def ensure_k_anonymity_with_suppression(new_df, quasi_identifiers, k):
    #Group the data by the quasi-identifiers
    grouped_data = new_df.groupby(quasi_identifiers).size().reset_index(name='count')

    #Identify combinations that don't satisfy k-anonymity
    non_k_anonymous_combinations = grouped_data[grouped_data['count'] < k]

    #Create a set of indices to be suppressed
    suppressed_indices = set()

    for _, row in non_k_anonymous_combinations.iterrows():
        condition = True
        for column, value in zip(quasi_identifiers, row[quasi_identifiers]):
            condition &= (new_df[column] == value)

        if condition.any():
            suppressed_indices.update(new_df[condition].index)

    #Suppress (remove) rows that don't meet k-anonymity
    k_anonymous_data = new_df.drop(index=suppressed_indices).reset_index(drop=True)

    return k_anonymous_data

In [ ]:
quasi_identifiers = ['Age', 'Marital-Status', 'Race', 'Education']
k_value = 10

k_anonymous_data = ensure_k_anonymity_with_suppression(new_df, quasi_identifiers, k_value)
# Save k_anonymous_data to a CSV file
k_anonymous_data.to_csv('k_anonymous_dataset.csv', index=False)

In [ ]:
k_anony = pd.read_csv('k_anonymous_dataset.csv')

In [ ]:
#CHECK IF DATA IS K-ANONYMOUS
# Define the columns that contain sensitive information
sensitive_columns = ['Age', 'Education', 'Marital-Status', 'Race']

# Specify the value of k for k-anonymity
k_value = max_k

# Group the DataFrame by the sensitive columns and count the number of rows in each group
grouped = k_anony.groupby(sensitive_columns).size().reset_index(name='count')

# Check if any group has fewer than k rows
non_k_anonymous_groups = grouped[grouped['count'] < k_value]

if non_k_anonymous_groups.empty:
    print(f'The dataset is {k_value}-anonymous.')
else:
    print(f'The dataset is not {k_value}-anonymous. Non-k-anonymous groups:')
    print(non_k_anonymous_groups)

The dataset is not 2978-anonymous. Non-k-anonymous groups:
       Age             Education Marital-Status         Race  count
0    10-20            Elementary         Single  Major Races     34
1    10-20           High School        Married  Major Races     54
2    10-20           High School         Single  Major Races   1374
3    10-20           High School         Single        Other     22
4    10-20           High School      Unmarried  Major Races     27
..     ...                   ...            ...          ...    ...
67  65-max          Trade School        Married  Major Races     48
68  65-max          Trade School      Unmarried  Major Races     31
69  65-max  University Education        Married  Major Races    314
70  65-max  University Education         Single  Major Races     42
71  65-max  University Education      Unmarried  Major Races    155

[71 rows x 5 columns]

In [ ]:
df_a = pd.read_csv('adult.data')
df_b = pd.read_csv('k_anonymous_dataset.csv')

num_data_points_a = len(df_a)
num_data_points_b = len(df_b)

# Calculate the difference in the number of data points
difference = abs(num_data_points_a - num_data_points_b)
print(num_data_points_a)
print(num_data_points_b)
print(f"The absolute difference in the number of data points is {difference}.")

32560
32390
The absolute difference in the number of data points is 170.

In [ ]:
def generalize_occupation_level1(occupation):
    occupation_mapping = {
        ' Exec-managerial': 'Management',
        ' Prof-specialty': 'Professional',
        ' Other-service': 'Service',
        ' Adm-clerical': 'Clerical',
        ' Sales': 'Sales',
        ' Craft-repair': 'Crafts',
        ' Transport-moving': 'Transport',
        ' Farming-fishing': 'Farming',
        ' Machine-op-inspct': 'Machine Operation',
        ' Tech-support': 'Tech Support',
        ' ?': 'Unknown',
        ' Protective-serv': 'Protective Service',
        ' Armed-Forces': 'Armed Forces',
        ' Priv-house-serv': 'Private House Service'
    }
    return occupation_mapping.get(occupation, 'Other')

In [ ]:
def generalize_occupation_level2(occupation):
    if occupation in ['Management', 'Professional', 'Clerical', 'Tech Support']:
        return 'White-Collar'
    elif occupation in ['Service', 'Sales']:
        return 'Service and Sales'
    elif occupation in ['Crafts', 'Transport', 'Machine Operation', 'Protective Service']:
        return 'Skilled Labor'
    elif occupation in ['Farming', 'Unknown', 'Armed Forces', 'Private House Service']:
        return 'Other and Unknown'
    else:
        return 'Other'

In [ ]:
def generalize_occupation_level3(occupation):
    if occupation in ['White-Collar', 'Service and Sales']:
        return 'Professional and Service'
    else:
        return 'Skilled Labor and Other'

In [ ]:
data = pd.read_csv('k_anonymous_dataset.csv')

In [ ]:
k=10
L=2
grouped = data.groupby(['Age', 'Race', 'Marital-Status', 'Education'])

# Define a function to check L-diversity within each group
def check_l_diversity(group):
    # Count the number of unique sensitive values within the group
    unique_sensitive_values = group['Occupation'].nunique()
    # Check if L-diversity is satisfied (at least L unique sensitive values)
    return unique_sensitive_values >= L

In [ ]:
# Check L-diversity within each group
l_diversity_satisfied = grouped.apply(check_l_diversity)

# Filter groups that do not satisfy L-diversity
non_l_diverse_groups = l_diversity_satisfied[l_diversity_satisfied == False]

# Anonymize the data within non-L-diverse groups (e.g., by generalizing sensitive values)

# Output the modified dataset
modified_data = data.copy()

for group_index in non_l_diverse_groups.index:
    # Replace sensitive values within non-L-diverse groups (e.g., with a generalization or a different value)
    modified_data.loc[grouped.groups[group_index], 'Occupation'] = 'Unknown'  # Example: Replace with 'Unknown'

modified_data.to_csv('l-diverse_dataset.csv', index=False)

In [ ]:
'''
# Define parameters
l_value = 7  # Specify the desired l-diversity value
quasi_identifiers = ['Age', 'Education', 'Marital-Status', 'Race']  # Specify your quasi-identifiers

# Define the generalization levels for the "occupation" attribute
generalization_levels = {
    'level1': generalize_occupation_level1,
    'level2': generalize_occupation_level2,
    'level3': generalize_occupation_level3
}

# Function to achieve l-diversity
def achieve_ldiversity(df_b, l_value, quasi_identifiers, generalization_levels):
    while True:
        all_groups_meet_l_diversity = True

        # Group the data by quasi-identifiers
        grouped = df_b.groupby(quasi_identifiers)

        for group_key, data_group in grouped:
            unique_occupations = data_group['Occupation'].unique()

            if len(unique_occupations) < l_value:
                all_groups_meet_l_diversity = False

                # Find the most specific occupation level that satisfies l-diversity
                for level, generalize_func in generalization_levels.items():
                    data_group['Occupation'] = data_group['Occupation'].apply(generalize_func)
                    unique_occupations = data_group['Occupation'].unique()

                    if len(unique_occupations) >= l_value:
                        break

                # Update the original DataFrame with the anonymized data
                df_b.loc[data_group.index] = data_group

        if all_groups_meet_l_diversity:
            break

    return df


# Call the function to achieve l-diversity
anonymized_df = achieve_ldiversity(df, l_value, quasi_identifiers, generalization_levels)'''

'\n# Define parameters\nl_value = 7  # Specify the desired l-diversity value\nquasi_identifiers = [\'Age\', \'Education\', \'Marital-Status\', \'Race\']  # Specify your quasi-identifiers\n\n# Define the generalization levels for the "occupation" attribute\ngeneralization_levels = {\n    \'level1\': generalize_occupation_level1,\n    \'level2\': generalize_occupation_level2,\n    \'level3\': generalize_occupation_level3\n}\n\n# Function to achieve l-diversity\ndef achieve_ldiversity(df_b, l_value, quasi_identifiers, generalization_levels):\n    while True:\n        all_groups_meet_l_diversity = True\n\n        # Group the data by quasi-identifiers\n        grouped = df_b.groupby(quasi_identifiers)\n\n        for group_key, data_group in grouped:\n            unique_occupations = data_group[\'Occupation\'].unique()\n\n            if len(unique_occupations) < l_value:\n                all_groups_meet_l_diversity = False\n\n                # Find the most specific occupation level that satisfies l-diversity\n                for level, generalize_func in generalization_levels.items():\n                    data_group[\'Occupation\'] = data_group[\'Occupation\'].apply(generalize_func)\n                    unique_occupations = data_group[\'Occupation\'].unique()\n\n                    if len(unique_occupations) >= l_value:\n                        break\n\n                # Update the original DataFrame with the anonymized data\n                df_b.loc[data_group.index] = data_group\n\n        if all_groups_meet_l_diversity:\n            break\n\n    return df\n\n\n# Call the function to achieve l-diversity\nanonymized_df = achieve_ldiversity(df, l_value, quasi_identifiers, generalization_levels)'

In [ ]:
def calculate_distortion(original_dataset, modified_dataset):
    # Calculate distortion as the mean absolute difference between original and modified datasets
    distortion = (original_dataset - modified_dataset).abs().mean().mean()
    return distortion

def calculate_precision(original_dataset, modified_dataset, k_value):
    # Calculate precision
    count_original = original_dataset.shape[0]
    count_modified = modified_dataset.shape[0]

    # True positives: Records that became indistinguishable from at least k - 1 other records
    true_positives = count_original - count_modified

    # False positives: Records that became indistinguishable from fewer than k - 1 other records
    false_positives = count_modified - true_positives

    precision = true_positives / (true_positives + false_positives)
    return precision

In [ ]:
df_original = pd.read_csv('adult.data')
df_k_anony = pd.read_csv('k_anonymous_dataset.csv')
df_l_diverse = pd.read_csv('l-diverse_dataset.csv')

In [ ]:
distortion_k = calculate_distortion(df_original, df_k_anony)
precision_k = calculate_precision(df_original, df_k_anony, 10)
distortion_l = calculate_distortion(df_original, df_l_diverse)
precision_l = calculate_precision(df_original, df_l_diverse, 2)

print(f"K-anonymity\n Distortion:{distortion_k}\nPrecision:{precision_k}\n\nL-Diversity\nDistortion:{distortion_l}\nPrecision:{precision_l}")

K-anonymity
 Distortion:nan
Precision:0.005248533497993208

L-Diversity
Distortion:nan
Precision:0.005248533497993208